---
title: Projects
navigation: true
---

<div class="home">

  <h1 class="page-heading">Projects</h1>

  <ul class="post-list">
    <% data.projects.each do |project| %>
      <% if project.visible %>
        <li>
          <h2>
            <a class="post-link" href="https://github.com/<%= project.full_name %>">
              <% if project.human_name %>
                <%= project.human_name %>
              <% else %>
                <%= project.name %>
              <% end %>
            </a>
          </h2>

          <p><%= project.description %></p>

          <h3>Released</h3>
          <p>
            <a href="https://rubydoc.org/gems/<%= cgi_escape project.name %>" target="_blank">Documentation</a>
            <a href="https://badge.fury.io/rb/<%= cgi_escape project.name %>" target="_blank">
              <img src="https://badge.fury.io/rb/<%= cgi_escape project.name %>.svg" alt="Gem version" height="18">
            </a>
          </p>

          <h3>Development</h3>
          <p>
            <a href="https://rubydoc.org/gems/<%= cgi_escape project.full_name %>" target="_blank">Documentation</a>
            <a href="http://inch-ci.org/github/<%= project.full_name %>" target="_blank">
              <img src="http://inch-ci.org/github/<%= project.full_name %>.svg?branch=master" alt="Documentation Status"/>
            </a>
            <a href="https://badge.fury.io/gh/<%= cgi_escape project.full_name %>" target="_blank">
              <img src="https://badge.fury.io/gh/<%= cgi_escape project.full_name %>.svg" alt="GitHub version" height="18">
            </a>
            <a href="https://codeclimate.com/github/<%= project.full_name %>" target="_blank">
              <img src="https://codeclimate.com/github/<%= project.full_name %>.png" alt="Code Climate"/>
            </a>
            <a href="http://travis-ci.org/<%= project.full_name %>" target="_blank">
              <img src="http://travis-ci.org/<%= project.full_name %>.png?branch=master" alt="Build Status"/>
            </a>
            <a href="https://gemnasium.com/<%= project.full_name %>" target="_blank">
              <img src="https://gemnasium.com/<%= project.full_name %>.png" alt="Dependency Status"/>
            </a>
            <a href="https://hakiri.io/github/<%= project.full_name %>" target="_blank">
              <img src="https://hakiri.io/github/<%= project.full_name %>/master.svg" alt="Security Status"/>
            </a>
          </p>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
