<!doctype html>
<html>
  <head>
    <%= partial 'head' %>
  </head>

  <body class="<%= page_classes %>">
  <%= partial 'header' %>
  <div class="page-content">
    <div class="wrapper">
      <%= yield %>
    </div>
  </div>

  <%= partial 'footer' %>
  </body>
</html>
