<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= current_page.data.title.presence || data.site.title %></title>

    <meta name="description" content="<%= current_resource.data.excerpt ? make_excerpt(current_resource.data.excerpt) : current_resource.data.description %>">

    <%= stylesheet_link_tag :main %>
    <!--<%= stylesheet_link_tag :site %>-->
    <%= javascript_include_tag :all %>
    <link rel="canonical" href="<%= canonicalize_url(current_resource.url) %>">
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/atom.xml", title: 'Atom Feed' %>
    <link rel="alternate" type="application/rss+xml" title="<%= data.site.title %>" href="<%= absolute_url '/rss.xml' %>">
    <link rel="alternate" type="application/atom+xml" title="<%= data.site.title %>" href="<%= absolute_url '/atom.xml' %>">
    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  </head>

  <body class="<%= page_classes %>">
    <%= partial 'header' %>

    <div class="page-content">
      <div class="wrapper">
        <%= yield %>
      </div>
    </div>

    <%= partial 'footer' %>
  </body>
</html>
