---
layout: null
---
<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title><%= data.site.title | xml_escape %></title>
  <subtitle><%= data.site.description | xml_escape %></subtitle>
  <link href="<%= data.site.url %><%= data.site.baseurl %>" rel="alternate" type="text/html" />
  <link href="<%= '/atom.xml' | prepend: data.site.baseurl | prepend: data.site.url %>" rel="self" type="application/atom+xml"/>
  <link href="<%= '/rss.xml' | prepend: data.site.baseurl | prepend: data.site.url %>" rel="alternate" type="application/rss+xml"/>
  <updated><%= data.site.time | date_to_xmlschema %></updated>
  <generator>Jekyll v<%= jekyll.version %></generator>
  <author>
    <name><%= data.site.author %></name>
    <email><%= data.site.email %></email>
  </author>
  <% for post in data.site.posts limit:10 %>
  <entry>
    <title><%= post.title | xml_escape %></title>
    <content><%= post.content | xml_escape %></content>
    <updated><%= post.date | date_to_xmlschema %></updated>
    <link href="<%= post.url | prepend: data.site.baseurl | prepend: data.site.url %>" rel="alternate" type="text/html" />
    <id><%= post.url | prepend: data.site.baseurl | prepend: data.site.url %></id>
    <% for tag in post.tags %>
    <category term="<%= tag | xml_escape %>" label="<%= tag | xml_escape %>" scheme="<%= data.site.url %><%= data.site.baseurl %>" />
    <% endfor %>
    <% for cat in post.categories %>
    <category term="<%= tag | xml_escape %>" label="<%= tag | xml_escape %>" scheme="<%= data.site.url %><%= data.site.baseurl %>" />
    <% endfor %>
  </entry>
  <% endfor %>
</feed>
