---
title: Welcome to Middleman
layout: default
---

<!--<div class="welcome">-->
  <!--<div class="logo">-->
    <!--<%= image_tag "middleman-logo.svg" %>-->
  <!--</div>-->
  <!--<h1>Middleman is Running</h1>-->
  <!--<p class="doc">-->
    <!--<%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>-->
  <!--</p>-->
<!--</div>-->
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    <% for post in (data.site.posts || []) %>
      <li>
        <span class="post-meta">
          <%=
            #post.date #| date: "%b %-d, %Y"
          %>
        </span>

        <h2><%= link_to(post.data.title, post.url) %></h2>
      </li>
    <% end %>
  </ul>

  <p class="rss-subscribe">subscribe <%= link_to('via RSS', '/rss.xml') %> or <%= link_to('via Atom', '/atom.xml') %></p>
</div>
